@model minesweepers.Models.ViewModel.ResultsViewModel
@using MvcPaging;
@{
	ViewBag.Title = "Results";
}
<h2>
	Results</h2>

@Html.Partial("_SearchForm", Model)

<table>
	<tr>
		<th>
			URL
		</th>
		<th>
			Descriptor
		</th>
	</tr>
	@foreach (var item in Model.PagedResults)
 {
		<tr>
			<td>
				<a href="@item.URL">@item.URL</a> 
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descriptor)
			</td>
		</tr>
 }
</table>

<div class="pager">
    @Html.Pager(Model.PagedResults.PageSize, Model.PagedResults.PageNumber,
								Model.PagedResults.TotalItemCount).Options(x => x
									.AddRouteValue("Search.Query", Model.Search.Query)
									.AddRouteValue("Search.ResultsPerPage", Model.Search.ResultsPerPage)
									.AlwaysAddFirstPageNumber()
									)
    </div>

