@model minesweepers.Models.ViewModel.ResultsViewModel
@{
	ViewBag.Title = "Search Results - Cyberminer";
}
<style type='text/css'>
 span.hilite {background:yellow}
</style>
<h2>Results</h2>

<script src="@Url.Content("~/Scripts/SearchHighlight.pack.js")" type="text/javascript"></script>

<script type='text/javascript'>
	jQuery(function () {
		var options = {
			exact: "exact",
			style_name_suffix: false,
			highlight: ".highlightable",
			keys: "@(Model.QueryWords)"
		}
		jQuery(document).SearchHighlight(options);
	});
</script>

@Html.Partial("_SearchForm", Model)

<table>
	<tr>
		<th>
			URL
		</th>
		<th>
			Descriptor
		</th>
	</tr>
	@foreach (var item in Model.PagedResults)
 {
		<tr class="highlightable">
			<td>
				<a href="@item.URL">@item.URL</a> 
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descriptor)
			</td>
		</tr>
 }
</table>

@Html.PagedListPager(Model.PagedResults, page => Url.Action("Results",
		new RouteValueDictionary(new Dictionary<string, object> { 
		{ "page", page }, 
		{ "Search.Query", Model.Search.Query },
		{ "Search.ResultsPerPage", Model.Search.ResultsPerPage }})))
