@model minesweepers.Models.ViewModel.ResultsViewModel
@{
	ViewBag.Title = "Search Results - Cyberminer";
}
<h2>
	Results</h2>

@Html.Partial("_SearchForm", Model)

<table>
	<tr>
		<th>
			URL
		</th>
		<th>
			Descriptor
		</th>
	</tr>
	@foreach (var item in Model.PagedResults)
 {
		<tr>
			<td>
				<a href="@item.URL">@item.URL</a> 
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descriptor)
			</td>
		</tr>
 }
</table>

@Html.PagedListPager(Model.PagedResults, page => Url.Action("Results",
		new RouteValueDictionary(new Dictionary<string, object> { 
		{ "page", page }, 
		{ "Search.Query", Model.Search.Query },
		{ "Search.ResultsPerPage", Model.Search.ResultsPerPage }})))
